

.bienvenida{
    background-color: bisque;
}


img{
    width: 350px;
    height: 450px;
    border-radius: 50px;
}


.título{
    display: flex;
    justify-content: center;
}

.título2{
    display: flex;
    justify-content: center;
}

.título3{
    display: flex;
    justify-content: center;
}


.contenedor{
    background-color: rgb(104, 53, 53);
    width: 100%;
    border-collapse: collapse;
    border-color: black;
}

.experiencias{
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.opciones{
    display: flex;
    justify-content: center;
    background-color: rgb(130, 96, 96);
}

.otrostrabajos{
    background-color: bisque;
}

.contacto{
    background-color: bisque;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: bisque;
}